<div class="container">
    <ng-container *ngFor="let user of users?.data">
        <div class="media p-3 border">
            <img [src]="user.avatar" class="align-self-end mr-3" alt="{{user.first_name}} {{user.last_name}}">
            <div class="media-body">
                <h5 class="mt-0"> {{user.first_name}} {{user.last_name}}</h5>
                <p>{{user.email}}</p>
                <p class="mb-0">Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis
                    natoque
                    penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
        </div>
    </ng-container>

</div>


<router-outlet></router-outlet>